@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

main.container {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer {
margin-left: 250px;
padding: 0 10px;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #383838;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #232323;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav{
  display: block;
}

#sidebar .nav ul {
line-height: 35px;
}

#sidebar .nav li {
line-height: 50px;
  border-bottom: 1px solid #FFFFC9;
flex-grow: 1;
}

#sidebar .nav a{
  background: none;
  color: #FFFFC9;
  font-size: 14px;
  padding: 5px 15px;
  text-decoration: none;
  display: flex;
}

#sidebar .nav a:hover{
  background: #555555;
  color: #FFFFFF !important;
}

#sidebar .nav a i{
  margin-right: 16px;
  vertical-align: middle;
}

#sidebar .nav-content{
  flex:1;
}